<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; img-src <%= cspSource %> https:; script-src <%= cspSource %>; style-src <%= cspSource %>;">
  <title>Response</title>

  <% styles.forEach(uri => { %>
  <link rel="stylesheet" href="<%= uri %>">
  <% }) %>

</head>

<body>

  <div class="root flex flex-column mh0">
    <div id="app"></div>
    <div class="editor-container flex-grow-1 overflowy-auto">
      <div id="editor" class="h-100"></div>
    </div>
  </div>

  <% scripts.forEach(uri => { %>
  <script nonce="<%= cspNonce %>" src="<%= uri %>"></script>
  <% }) %>

</body>

</html>